* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: "Inter", sans-serif;
    color: var(--WHITE);
}

img {
    max-width: 100%;
    display: block;
}

html {
    font-size: 62.5%;
}

// body {
//     background-color: var(--PURPLE-10);
// }

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Poppins', sans-serif;
}